.panelunit_container{
	width: 100%;
	height: 100%;
}

.panelunit_header{
	height: 40px;
	background: rgb(102,102,102);
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 40px;
	font-size: 20px;
	color: white;
	text-align: center;
}
.panelunit_body{
	height: 800px;
	overflow: auto;
	border: 1px solid rgb(50,50,50);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 20px;
	h1{
		margin-bottom: 25px;
		text-align: center;
	}
	.form-control-static{
		word-wrap: break-word;
	}
	.home_left{
		overflow: visible;
	}
}